<style>
  h1   {text-align:center; font-family: Arial, sans-serif; font-size: 400%; font-weight: bold;}
  h2   {text-align:center; font-family: Arial, sans-serif; font-size: 170%; font-weight: bold;}
  p    {text-align:center; font-family: Arial, sans-serif; font-size: 150%; }
</style>
<br><br>
<h1>FAQ</h1>
<br><br><br>
<h2>Q. What is the product's transaction currency?</h2>
<p>All products transaction currency will be done in Ringgit Malaysia (MYR).</p>
<br><br>
<h2>Q. I still have doubts!</h2>
<p>Sorry that we're unable to clear your doubts in the F.A.Q page. Please kindly send us an email to thefoodiehub@gmail.com for us to clear your doubts.</p>
<br><br>
<h2>Q. Does TOTAL FOODIE only work with foodie influencers?</h2>
<p>Mostly, yes! However, we also accept applications from and work with lifestyle and mom-influencers that frequently include a foodie component in their content, whether that's a focus on eating out in their cities or making recipes at home.</p>
<br><br><br><br>
