<div class="container">

<!--showmessage alert for delete-->
          <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <br><br>
          <div>
        <br><br>
          <table class="table">
            <thead>
              <tr>
                <td align= "center" scope="col">FOOD ID</td>
                <td align= "center" scope="col">FOOD NAME</td>
                <td align= "center" scope="col">FOOD PRICE</td>
                <td align= "center" scope="col">FOOD IMAGE</td>

                <td scope="col"></td>
                <td scope="col"></td>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let us of listData'>
                <td align= "center"scope="row">{{us.id}}</td>
                <td align= "center">{{us.food_name}}</td>
                <td align= "center">{{us.food_price}}</td>
                <td align= "center">{{us.food_img}}</td>

                <td></td>
                <td>
                <button  (click)="deleteId(us.id)">REMOVE</button>
                  &nbsp;
                <button class="nav-item" [routerLink]="['/updateproduct', us.id]">EDIT 🧑‍🎓</button>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <br><br><br><br><br><br>
