<style>
  h1   {text-align:center; font-family: Arial, sans-serif; font-size: 280%; font-weight: bold;}
  h2   {text-align:center; font-family: Arial, sans-serif; font-size: 100%; font-weight: bold;}
  p    {text-align:center; font-family: Arial, sans-serif; font-size: 140%; }
  form {text-align:center;}
</style>
<br><br><br><br><br>
<h1>Spotify</h1>
<br>
<p class="text">With Spotify, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.</p>
<p class="text">There are millions of tracks and episodes on Spotify. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Spotify surprise you.</p>
<p class="text">You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.</p>
<p class="text">Soundtrack your life with Spotify. Subscribe or listen for free. </p>

<br><br><br><br><br><br><br><br><br>

<h2>Contact Us</h2>
<p><a href="https://instagram.com/spotify"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" width= "50" height= "50" alt="instagram"></a> &nbsp;&nbsp;&nbsp; <a href="https://twitter.com/spotify"><img src="https://cdn-icons-png.flaticon.com/512/81/81609.png" width= "50" height= "50" alt="twitter"></a> &nbsp; <a href="https://www.facebook.com/Spotify"><img src="https://www.freepnglogos.com/uploads/logo-facebook-png/logo-facebook-facebook-logo-png-transparent-svg-vector-bie-supply-18.png" width= "50" height= "50" alt="facebook"></a></p>





