<html>
<style>
h1   {text-align:center; font-family: Arial, sans-serif; font-size: 250%; font-weight: bold;}
body {text-align:center; font-family: Arial, sans-serif; font-size: 250%; font-weight: bold;}

.navbar {
  width: 100%;
  background-color: #cecece;
  overflow: auto;}

.navbar a {
  float: left;
  padding: 22px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;}

.navbar a:hover {
  background-color: rgba(58, 58, 58, 0.473); }

</style>

<body>
<div class="navbar">

  <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
  <a class="nav-link" [routerLink]="['/addcustomer']" routerLinkActive="router-link-active">Customer</a>
  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"><img src="/assets/logo.png" width="80px" height= "80px" alt="Spotify"></a>
  <a class="nav-link" [routerLink]="['/addproduct']" routerLinkActive="router-link-active">Product</a>
  <a class="nav-link" [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a>

</div>
</body>
</html>


